- country = ISO3166::Country.find_country_by_name(team.name)
- if country.present? && team.logourl == ""
  div class="flag-icon flag-icon-#{country.alpha2.downcase}"
= image_tag(team.logourl, class: "flag-icon") if team.logourl != ""
span =" " + team.name
