- country = ISO3166::Country.find_by_translated_names(team.name)
- if country.present? && team.logourl == ""
  div class="flag-icon flag-icon-#{country.last["alpha2"].downcase}"
= image_tag(team.logourl, class: "flag-icon") if team.logourl != ""
span =" " + team.name
